PORT=8080
VIDEO_MEDIA_HOST=media-dev.dripdrop.social
R2_ENDPOINT=https://<accountid>.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_REGION=auto
ENCODER_CALLBACK_HMAC_KEYS=enc1:replace-me
ENCODER_MAX_CONCURRENT=1
ENCODER_TMP_DIR=/tmp/encoder
